<h1 class="text-center">Liste des produits dans le panier</h1>
<div class="cart-container">
  @for (item of cartItems; track item) {
    <div class="cart-item">
      <div class="item-info">
        <h3>{{ item.name }}</h3>
        <p>{{ item.price }}€</p>
      </div>
      <div class="item-quantity">
        <button (click)="decreaseQuantity(item)">-</button>
        <span class="badge">{{ item.quantity }}</span>
        <button (click)="increaseQuantity(item)">+</button>
      </div>
      <button class="remove-button" (click)="removeFromCart(item)">Supprimer du panier</button>
    </div>
  }
  <div class="cart-summary">
    <span class="badge">{{ cartItems.length }} article(s)</span>
    <span>Total: {{ totalAmount }}€</span>
  </div>
</div>